{% extends "admin/base.html" %}

{% block sidebar %}
<li><a href="{{ url_for('.index') }}">概况</a></li>
<li class="active"><a href="{{ url_for('.article') }}">文章</a></li>
<li><a href="{{ url_for('.category') }}">文章分类</a></li>
<li><a href="{{ url_for('.user') }}">用户</a></li>
{% endblock %}

{% block main %}
<h3>{{ title }}文章评论管理</h3>
<div class="commentslist">
	{% for comment in comments %}
	<div class="comments1">
		<div class="avatar">
			<img src="{{ comment.avatar_url }}" alt="头像" class="img-rounded img-responsive">
		</div>
		<div class="uinfo">
			<span><strong>{{ comment.author }}</strong></span>
		</div>
		<div class="commentcont">
			<span>{{ comment.content|safe }}</span>
		</div>
		<div class="commentfoot">
			<span class="pub-time text-muted">{{ comment.created_time }}</span>
			 &bull;
			{% if comment.status %}
			<span class="pub-time text-muted"><a href="{{ url_for('.shield_comment', id=comment.id) }}" onClick="if(!confirm('是否确认屏蔽？'))return false;">屏蔽</a></span>
			{% else %}
			<span class="pub-time text-muted"><a href="{{ url_for('.unshield_comment', id=comment.id) }}" onClick="if(!confirm('是否确认取消屏蔽？'))return false;">取消屏蔽</a></span>
			{% endif %}
		</div>
		<hr/>
		{% if comment.replys %}
		{% for each in comment.replys %}
		<div class="comments2">
			<div class="avatar1">
				<img src="{{ each.avatar_url }}" alt="头像" class="img-rounded img-responsive">
			</div>
			<div class="uinfo1">
				<span><strong>{{ each.author }}</strong></span> <i class="fa fa-share"></i> <span><strong>{{ each.to_author }}</strong></span>
			</div>
			<div class="commentcont1">
				<span>{{ each.content|safe }}</span>
			</div>
			<div class="commentfoot1">
				<span class="pub-time text-muted">{{ each.created_time }}</span>
				 &bull;
				{% if each.status %}
				<span class="pub-time text-muted"><a href="{{ url_for('.shield_reply', id=each.id) }}" onClick="if(!confirm('是否确认屏蔽？'))return false;">屏蔽</a></span>
				{% else %}
				<span class="pub-time text-muted"><a href="{{ url_for('.unshield_reply', id=each.id) }}" onClick="if(!confirm('是否确认取消屏蔽？'))return false;">取消屏蔽</a></span>
				{% endif %}
			</div>
			<hr/>
		</div>
		{% endfor %}
		{% endif %}
	</div>
	{% endfor %}


	<div class="clearfix">
		<div class="pull-right">
			<ul class="pagination pagenav">
				<li class="disabled"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}