{% extends "admin/base.html" %}

{% block sidebar %}
<li><a href="{{ url_for('.index') }}">概况</a></li>
<li><a href="{{ url_for('.article') }}">文章</a></li>
<li><a href="{{ url_for('.category') }}">文章分类</a></li>
<li class="active"><a href="{{ url_for('.user') }}">用户</a></li>
{% endblock %}

{% block main %}
<h3>查看</h3>
<div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th><i class="fa fa-file"></i>用户ID</th>
				<th><i class="fa fa-list"></i>用户名</th>
				<th><i class="fa fa-tag"></i>头像</th>
				<th><i class="fa fa-bookmark"></i>来自</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>xx</td>
				<td>xxx</td>
				<td><img src="http://cdn2.jianshu.io/assets/default_avatar/5-33d2da32c552b8be9a0548c7a4576607.jpg" alt="头像" width="20" height="20"></td>
				<td>第三方登录方式</td>
			</tr>
			<tr>
				<td>xx</td>
				<td>xxx</td>
				<td><img src="http://cdn2.jianshu.io/assets/default_avatar/5-33d2da32c552b8be9a0548c7a4576607.jpg" alt="头像" width="20" height="20"></td>
				<td>第三方登录方式</td>
			</tr>
			<tr>
				<td>xx</td>
				<td>xxx</td>
				<td><img src="http://cdn2.jianshu.io/assets/default_avatar/5-33d2da32c552b8be9a0548c7a4576607.jpg" alt="头像" width="20" height="20"></td>
				<td>第三方登录方式</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="clearfix">
	<div class="pull-right">
		<ul class="pagination pagenav">
			<li class="disabled"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>
		</ul>
	</div>
</div>
{% endblock %}