{% extends "base.html" %}

{% block main %}
<div class="col-sm-4 col-sm-offset-3">
	<div class="infobox">
		<h4><strong>教程</strong></h4>
		<div class="infospan">
			<a href="#"><span class="label label-default" style="display:inline-block"><span class="fa fa-book"></span> Flask</span></a>
			<a href="#"><span class="label label-default" style="display:inline-block"><span class="fa fa-book"></span> HTML</span></a>
		</div>
	</div>

	<div class="contentbox">
		<span class="author"><b>Enn</b></span>
		<span class="pub-time text-muted">30分钟前</span>
		<h4><strong><a href="#">这是一个标题</a></strong></h4>
		<p class="abstract">通常情况下，Django 的视图函数（View）是一个纯粹的 Python 函数，它接收一个 request（HTTP 请求），返回一个 response（HTTP 响应）。在其内部，它主要还负责从数据库中获取数据、处理表单数据、
		保存数据到数据库、以及渲染...<a href="#"><span class="fa fa-hand-o-right"></span> <strong>阅读全文</strong></a></p>
		<div class="contentinfo">
			<a href="#"><span class="label label-default" style="display: inline-block"><span class="fa fa-book"></span> HTML教程</span></a>
			<a href="#"><span class="label label-default" style="display: inline-block"><span class="fa fa-eye"></span> 135阅读量</span></a>
			<a href="#"><span class="label label-default" style="display: inline-block"><span class="fa fa-comments"></span> 10条评论</span></a>
		</div>
	</div>
	
	<div class="contentbox">
		<span class="author"><b>Enn</b></span>
		<span class="pub-time text-muted">30分钟前</span>
		<h4><strong>这是一个标题</strong></h4>
		<p class="abstract">保存数据到数据库、以保存数据到数据库、以保存数据到数据库、以保存数据到数据库、以保存数据到数据库、以保存数据到数据库、以保存数据到数据库、
		以保存数据到数据库、以保存数据到数据库、以保存数据到数据库、以保存数据到数据库、以保存数据到数据库、以保存数据到数据库、以...<a href="#"><span class="fa fa-hand-o-right"></span> <strong>阅读全文</strong></a></p>
		<div class="contentinfo">
			<a href="#"><span class="label label-default" style="display:inline-block"><span class="fa fa-book"></span> HTML教程</span></a>
			<a href="#"><span class="label label-default" style="display: inline-block"><span class="fa fa-eye"></span> 135阅读量</span></a>
			<a href="#"><span class="label label-default" style="display: inline-block"><span class="fa fa-comments"></span> 10条评论</span></a>
		</div>
	</div>
	
	<div class="pagination">
		<ul class="pagination">
			<li><a href="#">1</a></li>
			<li class="disabled"><a href="#">...</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li class="active"><a href="#">6</a></li>
			<li><a href="#">7</a></li>
			<li><a href="#">7</a></li>
			<li class="disabled"><a href="#">...</a></li>
			<li><a href="#">11</a></li>
		</ul>
	</div>
</div>
{% endblock %}